.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th{
    background-color: rgb(18, 13, 112);
    color: #fff;
}

.TabelaProdutos th{
    background-color: rgb(26, 4, 124);
}

.TabelaProdutos .Par{
    background-color: #ddd;
}