div{
	background-color: ;
	padding:1px;
}


body{
	text-align: center;
	font-family: 'sacramento',serif ;
	font-size: 30px;
}


h1{
	margin: 50px;
	font-family: 'Tomorrow', serif;
	font-size: 4rem;
	margin-top: 75px auto 0 auto;
	color: #66BFBF;
}


h3{
	font-family: 'Tomorrow',serif ;
	color:#66BFBF;
}


h2{
	font-family: 'Bungee Inline',serif ;
}

p{
	font-family: 'Grand Hotel', serif;
}

hr{
	border:dotted #ccddff 6px;
	border-bottom: none;
	width: 4%;
	margin:75px auto;
}
.top{
	background-color:#b3ccff;
	padding-top: 100px;
	position: relative;
	}


.middle{
	background-color:#e6eeff;

}


.bottom{
	background-color:#e6eeff;

}


.pro {
	text-decoration: underline;

}


.cloud-top{
	position: absolute;
	right: 250px;
	top: 150px;
	}


.cloud-bottom{
	position: absolute;
	left: 300px;
	bottom: 300px;
}


.immarco{

	line-height: 0.25;
}


.btn{
	font-family: 'Libre Barcode 39 Extended Text', serif;
}



.bottom-page{
	background-color:#11999E;
}


.profile{
	position: ;
}



.skill-row{
	width: 75%;
	margin: 50px auto 100px auto; 
	text-align: left; 
	line-height: 2;
}


.programmer{
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 25px;
}


.skill-row-hand{
	width: 75%;
	margin: 100px auto 100px auto; 
	text-align: right; 
	line-height: 2;
}


.hands{
	font-size: 2.5rem;
	color: #66BFBF;
	line-height: 2;
	width: 300px;
	float: right ;
	height: 300px;
	margin-left: 30px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background-color:#63b8ee;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:-1.31px;
	border:5px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:48px;
	line-height:48px;
	width:145px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
	margin-bottom: 20px;
}.btn:hover {
	background-color:#468ccf;
}.btn:active {
	position:relative;
	top:1px;
}
/**
font-family: 'Grand Hotel', ;
*/
.footer-link1{	font-family: serif;
				font-size: 24px;
				margin-top: 20px;}

.footer-link2{	font-family: serif;
				font-size: 24px;}

.footer-link3{	font-family: serif;
				font-size: 24px;}

.footer-link4{	font-family: serif;
				font-size: 24px;}
.bottom-page{margin-top: }